.spiceRack {
    padding-top: 50px;
    background-color: plum;
}
.spiceRackGrid {
    margin-top: 50px!important;
}

.avatar-adjust {
    margin-left: 25%;
}

.expired {
    background-color: red;
}

.fine {
    background-color: green;
}