
.addSpiceButton {
    background-color: rgba(60, 170, 115, 0.50)!important;
    width: 100%;
    
    
}

.spiceRack {
    padding-top: 50px;
    background-color: plum;
}
.spiceRackGrid {
    margin-top: 50px!important;
}
.spiceJar {
    height: 300px;
    width: 200px;
    margin: 12px!important;
    background-image:url('./spiceJar.svg');
    background-color: silver;
}

.spiceName {
    padding-top: 20px;
}

.spiceBrand {
    padding-top: 50px;
}

.spicePurchase {
    padding-top: 10px;
}

.spiceExpire {
    padding-top: 10px;
}

.avatar-adjust {
    margin-left: 25%;
}

.expired {

    background-image: url('./spiceJarExpired.svg')!important;
    // color: red;
    // transform: scale(1.4);

    // animation: pulse 5s infinite;
}

.fine {
    background-color: green;
}


//  Potentially Extraneous

// @keyframes pulse {
//     0% {
//         transform: scale(1.0);
//         max-width: 200px;
//     }
//     100% {
//         transform: scale(1.2);
//         max-width: 200px;
//     }
// }